<% layout('./layouts/boilerplate') -%>
<div class="w-full min-h-[70vh]" role="alert">
    <div class="bg-red-200 p-4 rounded-xl border border-red-500 flex items-center justify-between">
      <p><%=message%></p>
      <a href="/listings" class="cursor-pointer"><i class="fa-solid fa-xmark"></i></a>
    </div>
</div>